:root {

    --primary-color: rgb(238, 238, 238);
    --accent1-color: rgb(59, 97, 72);
    --accent2-color: rgb(6, 29, 48);
    --accent3-color: rgb(6, 34, 56);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
a {
    font-size: 25px;
}

header {
    background-color: var(--primary-color);
}

header,
main,
footer {

    /*ancho al 100% pero no un px fij0*/
    width: 100%;

    /*solo limite del maximo*/
    max-width: 1500px;
    margin: auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

nav,
p,
section,
article {

    margin: 16px;
    padding: 15px 0 0 0;
}

.socialmedia {
    text-decoration: none;
}

header img {
    padding: 0px;
    width: 150px;
    height: auto;
}

header nav ul {
    padding-left: 35px;
}

.hero {
    position: relative;
    padding: 20px 0 20px 0;
    height: auto;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {

    float: right;
    height: 150px;
    width: auto;
}

.on-image {

    position: absolute;

    width: calc(100% - 80px);
    max-width: 1400px;

    top: 50%;
    left: 40px;
    right: 40px;

    opacity: .7;

    padding: 25px;
    background-color: var(--accent2-color);

}

@media (max-width: 1500px) {

    .on-image {

        position: static;
        text-align: center;
        width: auto;
        margin: 20 px 16px;
        opacity: 1;
    }

    .on-image img {
        float: none !important;
        display: block;
        margin: auto;

    }

    /* como estableci p {font-size: ;} 
     n el principio, necesito hacerlo asi*/
    .on-image p {
        font-size: large;

        /*cuando se achica la pantalla aumento un poco 
        el padding en la parte inferior para qe la foto 
        no qede afuer del marco azul mientras se va achicando*/
        clear: right;
        padding: 0 0 30px 0;
    }

}

.on-image p {

    width: 100%;
    color: var(--primary-color);
}

.intro-title {
    font-size: 40px;
    position: absolute;
    top: 45px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: whitesmoke;
}

footer {

    border-top: 1px solid black;
    text-align: center;
}

footer p {
    font-size: larger;
    padding: 0;

}

footer nav {
    padding: 0;

}

.socialmedia {
    text-decoration: none;
}

footer nav img {

    display: inline;
    background-color: white;
    width: 80px;
    height: auto;
}

.article-02 h2 {
    color: white;
    background-color: var(--accent3-color);
    padding: 12px;
    text-align: center;
}