* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --color-blue: darkblue;
    --solid-border: 1px solid #000;
}

body {
    background-color: white;

}

aside img {

    max-width: 200px;
    width: 100%;
    height: auto;
}

header,
.grid,
footer {

    max-width: 800px;
    width: 1;
    margin: 0;
}

main {

    grid-column: 2/3;
    margin: 1rem;
}

.grid {
    display: grid;
    align-items: center;
}

aside {
    position: relative;
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;

    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: .5rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 114px;
}

h1 {
    color: var(--color-blue);
    padding: 1rem;
    text-align: left;
    border-bottom: var(--solid-border);

}

/* no tengo div en los archivos qe uso*/
div {
    /* width: 800px; */
    margin: 10px;
    /* border: var(--solid-border); */
    /* padding: 15px; */

}

nav {
    background-color: var(--color-blue);
    padding: 1rem;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

main img {
    float: right;
    width: 150px;
    height: auto;

    border: var(--solid-border);

    /*between the image and the border. */
    padding: 2px;

    /* A box shadow around the image border with zero offset and depth of 30px in gray.*/
    box-shadow: 0 0 30px gray;
}

p {
    padding: .2rem;
}

footer {

    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1.5rem;
    background-color: #ddd;
    color: #000;
}